## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [24]:
# 1. Import the WeatherPy_database.csv file.
city_data_df = pd.read_csv(r"C:\Users\Gurr1\Documents\Bootcamp\World_Weather_Analysis\Weather_Database\WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Yumen,CN,40.2833,97.2000,81.61,15,88,12.71,overcast clouds
1,1,Barrow,US,71.2906,-156.7887,37.42,87,100,11.50,overcast clouds
2,2,Hervey Bay,AU,-25.2986,152.8535,58.64,93,100,10.04,overcast clouds
3,3,Thompson,CA,55.7435,-97.8558,62.76,72,75,6.91,broken clouds
4,4,Kapaa,US,22.0752,-159.3190,84.18,71,20,16.11,few clouds

In [26]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Yumen,CN,40.2833,97.2000,81.61,15,88,12.71,overcast clouds
4,4,Kapaa,US,22.0752,-159.3190,84.18,71,20,16.11,few clouds
7,7,Bandarbeyla,SO,9.4942,50.8122,79.52,63,31,22.82,scattered clouds
9,9,Hithadhoo,MV,-0.6000,73.0833,82.38,75,50,8.66,scattered clouds
10,10,College,US,64.8569,-147.8028,75.18,61,100,8.05,mist
16,16,Ahuimanu,US,21.4447,-157.8378,83.91,65,75,16.11,broken clouds
21,21,Atuona,PF,-9.8000,-139.0333,77.61,74,17,16.80,few clouds
30,30,Makakilo City,US,21.3469,-158.0858,82.72,54,40,16.11,scattered clouds
37,37,Ixtapa,MX,20.7000,-105.2000,83.43,70,75,6.91,broken clouds
38,38,Dwarka,IN,22.2394,68.9678,82.27,82,98,23.51,light rain

In [28]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                259
City                   259
Country                259
Lat                    259
Lng                    259
Max Temp               259
Humidity               259
Cloudiness             259
Wind Speed             259
Current Description    259
dtype: int64

In [32]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                259
City                   259
Country                259
Lat                    259
Lng                    259
Max Temp               259
Humidity               259
Cloudiness             259
Wind Speed             259
Current Description    259
dtype: int64

In [33]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Yumen,CN,81.61,overcast clouds,40.2833,97.2000,
4,Kapaa,US,84.18,few clouds,22.0752,-159.3190,
7,Bandarbeyla,SO,79.52,scattered clouds,9.4942,50.8122,
9,Hithadhoo,MV,82.38,scattered clouds,-0.6000,73.0833,
10,College,US,75.18,mist,64.8569,-147.8028,
16,Ahuimanu,US,83.91,broken clouds,21.4447,-157.8378,
21,Atuona,PF,77.61,few clouds,-9.8000,-139.0333,
30,Makakilo City,US,82.72,scattered clouds,21.3469,-158.0858,
37,Ixtapa,MX,83.43,broken clouds,20.7000,-105.2000,
38,Dwarka,IN,82.27,light rain,22.2394,68.9678,

In [44]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [54]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Yumen,CN,81.61,overcast clouds,40.2833,97.2000,
4,Kapaa,US,84.18,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
7,Bandarbeyla,SO,79.52,scattered clouds,9.4942,50.8122,JABIR HOTEL
9,Hithadhoo,MV,82.38,scattered clouds,-0.6000,73.0833,Scoop Guest House
10,College,US,75.18,mist,64.8569,-147.8028,Pike's Waterfront Lodge

In [62]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Kapaa,US,84.18,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
7,Bandarbeyla,SO,79.52,scattered clouds,9.4942,50.8122,JABIR HOTEL
9,Hithadhoo,MV,82.38,scattered clouds,-0.6000,73.0833,Scoop Guest House
10,College,US,75.18,mist,64.8569,-147.8028,Pike's Waterfront Lodge
16,Ahuimanu,US,83.91,broken clouds,21.4447,-157.8378,Paradise Bay Resort

In [63]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [4]:
# Inserted step to read saved clean_hotel_df 
clean_hotel_df = pd.read_csv(r"C:\Users\Gurr1\Documents\Bootcamp\World_Weather_Analysis\Vacation_Search\WeatherPy_Vacation.csv")

In [5]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [6]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))